# /etc/syno-borg.env (mode 0600)
BORG_REPO='ssh://user@backup.example.lan:2222/./repo-id'
BORG_RSH='ssh -i /root/.ssh/borg_key -o StrictHostKeyChecking=accept-new'
SYNO_BORG_PREFIX='nas-1-'
SYNO_BORG_DATASET='data/samba'
